In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import DataFrame
import random

In [114]:
col = ['col1','col2','col3','col4','co5','col6','col7','col8','col9','col10']
row = ['row1','row2','row3','row4','row5','row6','row7','row8','row9','row10']
data = np.random.randint(-100,101,(10,10))
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

       col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1     55   -90    29   -82   -6    80   -57    88    57     99
row2     93    74   -44   -71   15   -42   -31   -68    39    -26
row3     82   -82    -8   -13  -58   -58   -20    24   -13    -94
row4     72    82    47   -27   11   -42   -80   -12   -59     50
row5     80   -89    49   -38   20   -56   -43   -72    -7    -31
row6    -49    44   -85    -7  -19   -43    60    18   -68     -6
row7     89    36   -65    48   31   -25    45   100    61     85
row8      8     8    23    -2  -44     4    85    36    81      9
row9      9    54   -21   -70   32   -62    50    80   -17    -76
row10    -4    70    58    48  -66    43    96     4    71    -10

# 객체 간 연산

## 덧셈 (add)

In [115]:
df.head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1    55   -90    29   -82   -6    80   -57    88    57     99
row2    93    74   -44   -71   15   -42   -31   -68    39    -26
row3    82   -82    -8   -13  -58   -58   -20    24   -13    -94
row4    72    82    47   -27   11   -42   -80   -12   -59     50
row5    80   -89    49   -38   20   -56   -43   -72    -7    -31

In [116]:
df.add(1).head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1    56   -89    30   -81   -5    81   -56    89    58    100
row2    94    75   -43   -70   16   -41   -30   -67    40    -25
row3    83   -81    -7   -12  -57   -57   -19    25   -12    -93
row4    73    83    48   -26   12   -41   -79   -11   -58     51
row5    81   -88    50   -37   21   -55   -42   -71    -6    -30

In [117]:
df.add(-1).head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1    54   -91    28   -83   -7    79   -58    87    56     98
row2    92    73   -45   -72   14   -43   -32   -69    38    -27
row3    81   -83    -9   -14  -59   -59   -21    23   -14    -95
row4    71    81    46   -28   10   -43   -81   -13   -60     49
row5    79   -90    48   -39   19   -57   -44   -73    -8    -32

## 뺄셈 (sub)

In [118]:
df.sub(1).head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1    54   -91    28   -83   -7    79   -58    87    56     98
row2    92    73   -45   -72   14   -43   -32   -69    38    -27
row3    81   -83    -9   -14  -59   -59   -21    23   -14    -95
row4    71    81    46   -28   10   -43   -81   -13   -60     49
row5    79   -90    48   -39   19   -57   -44   -73    -8    -32

In [119]:
df.sub(-1).head()#음수도 가능! 결론적으론 더하는 꼴이됨

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1    56   -89    30   -81   -5    81   -56    89    58    100
row2    94    75   -43   -70   16   -41   -30   -67    40    -25
row3    83   -81    -7   -12  -57   -57   -19    25   -12    -93
row4    73    83    48   -26   12   -41   -79   -11   -58     51
row5    81   -88    50   -37   21   -55   -42   -71    -6    -30

## 곱셈 (mul)

In [120]:
df.mul(10).head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1   550  -900   290  -820  -60   800  -570   880   570    990
row2   930   740  -440  -710  150  -420  -310  -680   390   -260
row3   820  -820   -80  -130 -580  -580  -200   240  -130   -940
row4   720   820   470  -270  110  -420  -800  -120  -590    500
row5   800  -890   490  -380  200  -560  -430  -720   -70   -310

In [121]:
df.mul(-10).head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1  -550   900  -290   820   60  -800   570  -880  -570   -990
row2  -930  -740   440   710 -150   420   310   680  -390    260
row3  -820   820    80   130  580   580   200  -240   130    940
row4  -720  -820  -470   270 -110   420   800   120   590   -500
row5  -800   890  -490   380 -200   560   430   720    70    310

In [122]:
df.mul(0.12).head()

       col1   col2  col3  col4   co5  col6  col7   col8  col9  col10
row1   6.60 -10.80  3.48 -9.84 -0.72  9.60 -6.84  10.56  6.84  11.88
row2  11.16   8.88 -5.28 -8.52  1.80 -5.04 -3.72  -8.16  4.68  -3.12
row3   9.84  -9.84 -0.96 -1.56 -6.96 -6.96 -2.40   2.88 -1.56 -11.28
row4   8.64   9.84  5.64 -3.24  1.32 -5.04 -9.60  -1.44 -7.08   6.00
row5   9.60 -10.68  5.88 -4.56  2.40 -6.72 -5.16  -8.64 -0.84  -3.72

In [123]:
df.mul(1/3).head()

,col1,col2,col3,col4,co5,col6,col7,col8,col9,col10
row1,18.333333,-30.000000,9.666667,-27.333333,-2.000000,26.666667,-19.000000,29.333333,19.000000,33.000000
row2,31.000000,24.666667,-14.666667,-23.666667,5.000000,-14.000000,-10.333333,-22.666667,13.000000,-8.666667
row3,27.333333,-27.333333,-2.666667,-4.333333,-19.333333,-19.333333,-6.666667,8.000000,-4.333333,-31.333333
row4,24.000000,27.333333,15.666667,-9.000000,3.666667,-14.000000,-26.666667,-4.000000,-19.666667,16.666667
row5,26.666667,-29.666667,16.333333,-12.666667,6.666667,-18.666667,-14.333333,-24.000000,-2.333333,-10.333333

## 나눗셈 (div)

In [124]:
df.div(10).head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1   5.5  -9.0   2.9  -8.2 -0.6   8.0  -5.7   8.8   5.7    9.9
row2   9.3   7.4  -4.4  -7.1  1.5  -4.2  -3.1  -6.8   3.9   -2.6
row3   8.2  -8.2  -0.8  -1.3 -5.8  -5.8  -2.0   2.4  -1.3   -9.4
row4   7.2   8.2   4.7  -2.7  1.1  -4.2  -8.0  -1.2  -5.9    5.0
row5   8.0  -8.9   4.9  -3.8  2.0  -5.6  -4.3  -7.2  -0.7   -3.1

In [125]:
df.div(1/10).head()

       col1   col2   col3   col4    co5   col6   col7   col8   col9  col10
row1  550.0 -900.0  290.0 -820.0  -60.0  800.0 -570.0  880.0  570.0  990.0
row2  930.0  740.0 -440.0 -710.0  150.0 -420.0 -310.0 -680.0  390.0 -260.0
row3  820.0 -820.0  -80.0 -130.0 -580.0 -580.0 -200.0  240.0 -130.0 -940.0
row4  720.0  820.0  470.0 -270.0  110.0 -420.0 -800.0 -120.0 -590.0  500.0
row5  800.0 -890.0  490.0 -380.0  200.0 -560.0 -430.0 -720.0  -70.0 -310.0

## 나머지 (mod)

In [126]:
df.mod(-2).head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1    -1     0    -1     0    0     0    -1     0    -1     -1
row2    -1     0     0    -1   -1     0    -1     0    -1      0
row3     0     0     0    -1    0     0     0     0    -1      0
row4     0     0    -1    -1   -1     0     0     0    -1      0
row5     0    -1    -1     0    0     0    -1     0    -1     -1

In [127]:
df.mod(2).head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1     1     0     1     0    0     0     1     0     1      1
row2     1     0     0     1    1     0     1     0     1      0
row3     0     0     0     1    0     0     0     0     1      0
row4     0     0     1     1    1     0     0     0     1      0
row5     0     1     1     0    0     0     1     0     1      1

##거듭제곱 (pow)

In [128]:
df.pow(2).head()

      col1  col2  col3  col4   co5  col6  col7  col8  col9  col10
row1  3025  8100   841  6724    36  6400  3249  7744  3249   9801
row2  8649  5476  1936  5041   225  1764   961  4624  1521    676
row3  6724  6724    64   169  3364  3364   400   576   169   8836
row4  5184  6724  2209   729   121  1764  6400   144  3481   2500
row5  6400  7921  2401  1444   400  3136  1849  5184    49    961


음수는 안됨!
```
df.pow(-2).head()
```



```
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-42-9f8ca4696a35> in <module>
----> 1 df.pow(-2).head()

8 frames
/usr/local/lib/python3.8/dist-packages/pandas/core/computation/expressions.py in _evaluate_standard(op, op_str, a, b)
     67     if _TEST_MODE:
     68         _store_test_result(False)
---> 69     return op(a, b)
     70 
     71 

ValueError: Integers to negative integer powers are not allowed.
```

##행렬곱 (dot)

In [129]:

df1 = pd.DataFrame(data=data1)
df2 = pd.DataFrame(data=data2)

In [130]:
df3 = df1.dot(df2)
print(df3)

    0   1
0  19  22
1  43  50

# 객체 내 연산

## 반올림 (round)

In [131]:
df.div(3).head().round()

      col1  col2  col3  col4   co5  col6  col7  col8  col9  col10
row1  18.0 -30.0  10.0 -27.0  -2.0  27.0 -19.0  29.0  19.0   33.0
row2  31.0  25.0 -15.0 -24.0   5.0 -14.0 -10.0 -23.0  13.0   -9.0
row3  27.0 -27.0  -3.0  -4.0 -19.0 -19.0  -7.0   8.0  -4.0  -31.0
row4  24.0  27.0  16.0  -9.0   4.0 -14.0 -27.0  -4.0 -20.0   17.0
row5  27.0 -30.0  16.0 -13.0   7.0 -19.0 -14.0 -24.0  -2.0  -10.0

##합계 (sum)

In [132]:
df.sum(axis=0).head() #열의 합개를 구함

col1    435
col2    107
col3    -17
col4   -214
co5     -84
dtype: int64

In [133]:
df.sum(axis=1).head() #행의 합개를 구함

row1    173
row2    -61
row3   -240
row4     42
row5   -187
dtype: int64

## 곱 (prod)

In [134]:
df.prod(axis=0).head() #행의 곱을 구함

col1      3034314191462400
col2   -190910099797401600
col3     -3638664435806400
col4       175336149381120
co5        -62857205452800
dtype: int64

In [135]:
df.prod(axis=1).head() #행의 곱을 구함

row1    159928500276864000
row2     28951748968222080
row3      1379842363760640
row4     -9802643203584000
row5     -9975585121689600
dtype: int64

## 절대값 (abs)

In [136]:
df.abs().head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1    55    90    29    82    6    80    57    88    57     99
row2    93    74    44    71   15    42    31    68    39     26
row3    82    82     8    13   58    58    20    24    13     94
row4    72    82    47    27   11    42    80    12    59     50
row5    80    89    49    38   20    56    43    72     7     31

## 전치 (transpose)

In [137]:
df.transpose().head()

      row1  row2  row3  row4  row5  row6  row7  row8  row9  row10
col1    55    93    82    72    80   -49    89     8     9     -4
col2   -90    74   -82    82   -89    44    36     8    54     70
col3    29   -44    -8    47    49   -85   -65    23   -21     58
col4   -82   -71   -13   -27   -38    -7    48    -2   -70     48
co5     -6    15   -58    11    20   -19    31   -44    32    -66

## 순위 (rank)

**기본 사용법**
```
df.rank(axis=0, method='average', numeric_only=None, na_option='keep', ascending=True, pct=False)
```


*    axis : {0 : index / 1 : columns} 순위를 매길 레이블입니다.
*    method : {'average' / 'min' / 'max' / 'first' / 'dense'} 동순위 일때 처리 방법입니다.
average는 평균, min은 낮은순위, max는 높은순위, first는 나타나는순서대로
dense의 경우는 min과 같지만 그룹간 순위는 항상 1씩 증가합니다.
*    numeric_only : {True / False} 숫자만 순위를 매길지 여부 입니다.
*    na_option : {'keep' / 'top' / 'bottom'} NaN값의 처리 방법입니다. 
keep의 경우 NaN순위 할당, top의 경우 낮은순위 할당, bottom의 경우 높은 순위를 할당합니다.
*    ascending : {True / False} 오름차순으로 할지의 여부 입니다.
pct : {True / False} 순위를 백분위수형식으로 할지 여부입니다.

In [138]:
df.rank(method='average').head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1   5.0   1.0   7.0   1.0  5.0  10.0   2.0   9.0   7.0   10.0
row2  10.0   9.0   3.0   2.0  7.0   5.5   4.0   2.0   6.0    4.0
row3   8.0   3.0   5.0   6.0  2.0   2.0   5.0   6.0   4.0    1.0
row4   6.0  10.0   8.0   5.0  6.0   5.5   1.0   3.0   2.0    8.0
row5   7.0   2.0   9.0   4.0  8.0   3.0   3.0   1.0   5.0    3.0

In [139]:
df.rank(method='min').head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1   5.0   1.0   7.0   1.0  5.0  10.0   2.0   9.0   7.0   10.0
row2  10.0   9.0   3.0   2.0  7.0   5.0   4.0   2.0   6.0    4.0
row3   8.0   3.0   5.0   6.0  2.0   2.0   5.0   6.0   4.0    1.0
row4   6.0  10.0   8.0   5.0  6.0   5.0   1.0   3.0   2.0    8.0
row5   7.0   2.0   9.0   4.0  8.0   3.0   3.0   1.0   5.0    3.0

In [140]:
df.rank(method='max').head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1   5.0   1.0   7.0   1.0  5.0  10.0   2.0   9.0   7.0   10.0
row2  10.0   9.0   3.0   2.0  7.0   6.0   4.0   2.0   6.0    4.0
row3   8.0   3.0   5.0   6.0  2.0   2.0   5.0   6.0   4.0    1.0
row4   6.0  10.0   8.0   5.0  6.0   6.0   1.0   3.0   2.0    8.0
row5   7.0   2.0   9.0   4.0  8.0   3.0   3.0   1.0   5.0    3.0

In [141]:
df.rank(method='first').head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1   5.0   1.0   7.0   1.0  5.0  10.0   2.0   9.0   7.0   10.0
row2  10.0   9.0   3.0   2.0  7.0   5.0   4.0   2.0   6.0    4.0
row3   8.0   3.0   5.0   6.0  2.0   2.0   5.0   6.0   4.0    1.0
row4   6.0  10.0   8.0   5.0  6.0   6.0   1.0   3.0   2.0    8.0
row5   7.0   2.0   9.0   4.0  8.0   3.0   3.0   1.0   5.0    3.0

In [142]:
df.rank(method='dense').head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1   5.0   1.0   7.0   1.0  5.0   9.0   2.0   9.0   7.0   10.0
row2  10.0   9.0   3.0   2.0  7.0   5.0   4.0   2.0   6.0    4.0
row3   8.0   3.0   5.0   6.0  2.0   2.0   5.0   6.0   4.0    1.0
row4   6.0  10.0   8.0   5.0  6.0   5.0   1.0   3.0   2.0    8.0
row5   7.0   2.0   9.0   4.0  8.0   3.0   3.0   1.0   5.0    3.0

## 차이[이산] (diff)
diff는 한 객체 내에서 열과 열 / 행과 행의 차이를 출력하는 메서드 입니다.

**기본 사용법**

df.diff(periods=1, axis=0)
*   axis : 비교할 축을 지정합니다. axis=0 인 경우 행끼리 비교하고 axis=1인 경우 열 끼리 비교합니다.
*   periods : 비교할 간격을 지정합니다. 기본은 +1로 바로 이전 값과 비교합니다.

In [143]:
df.diff(axis=0).head()

      col1   col2  col3  col4   co5   col6  col7   col8  col9  col10
row1   NaN    NaN   NaN   NaN   NaN    NaN   NaN    NaN   NaN    NaN
row2  38.0  164.0 -73.0  11.0  21.0 -122.0  26.0 -156.0 -18.0 -125.0
row3 -11.0 -156.0  36.0  58.0 -73.0  -16.0  11.0   92.0 -52.0  -68.0
row4 -10.0  164.0  55.0 -14.0  69.0   16.0 -60.0  -36.0 -46.0  144.0
row5   8.0 -171.0   2.0 -11.0   9.0  -14.0  37.0  -60.0  52.0  -81.0

In [144]:
df.diff(axis=1).head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1   NaN  -145   119  -111   76    86  -137   145   -31     42
row2   NaN   -19  -118   -27   86   -57    11   -37   107    -65
row3   NaN  -164    74    -5  -45     0    38    44   -37    -81
row4   NaN    10   -35   -74   38   -53   -38    68   -47    109
row5   NaN  -169   138   -87   58   -76    13   -29    65    -24

In [145]:
df.diff(axis=1,periods=3).head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1   NaN   NaN   NaN  -137   84    51    25    94   -23    156
row2   NaN   NaN   NaN  -164  -59     2    40   -83    81      5
row3   NaN   NaN   NaN   -95   24   -50    -7    82    45    -74
row4   NaN   NaN   NaN   -99  -71   -89   -53   -23   -17    130
row5   NaN   NaN   NaN  -118  109  -105    -5   -92    49     12

In [146]:
df.diff(axis=0,periods=2).head()

      col1  col2  col3  col4   co5   col6  col7  col8  col9  col10
row1   NaN   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN
row2   NaN   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN
row3  27.0   8.0 -37.0  69.0 -52.0 -138.0  37.0 -64.0 -70.0 -193.0
row4 -21.0   8.0  91.0  44.0  -4.0    0.0 -49.0  56.0 -98.0   76.0
row5  -2.0  -7.0  57.0 -25.0  78.0    2.0 -23.0 -96.0   6.0   63.0

## 차이[백분률] (pct_change)

pct_change는 한 객체 내에서 행과 행의 차이를 현재값과의 백분율로 출력하는 메서드 입니다.
즉, (다음행 - 현재행)÷현재행 을 의미합니다.

**기본 사용법**

df.pct_change(periods=1, fill_method='pad', limit=None, freq=None, kwargs)
*    periods : 비교할 간격을 지정합니다. 기본은 +1로 바로 이전 값과 비교합니다.
*    fill_method : {ffill : 앞의 값으로 채움 / bfill : 뒤의 값으로 채움} 결측치를 대체할 값입니다.
*    limit : 결측값을 몇개나 대체할지 정할 수 있습니다.
*    freq : 시계열 API에서 사용할 증분을 지정합니다. (예: 'M' 또는 BDay( ))

In [147]:
df.pct_change().head()

,col1,col2,col3,col4,co5,col6,col7,col8,col9,col10
row1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
row2,0.690909,-1.822222,-2.517241,-0.134146,-3.500000,-1.525000,-0.456140,-1.772727,-0.315789,-1.262626
row3,-0.118280,-2.108108,-0.818182,-0.816901,-4.866667,0.380952,-0.354839,-1.352941,-1.333333,2.615385
row4,-0.121951,-2.000000,-6.875000,1.076923,-1.189655,-0.275862,3.000000,-1.500000,3.538462,-1.531915
row5,0.111111,-2.085366,0.042553,0.407407,0.818182,0.333333,-0.462500,5.000000,-0.881356,-1.620000

In [148]:
# periods인수는 계산할 간격을 나타냅니다. 기본은 1로 +1을 의미하며 마이너스일 경우 반대방향으로 계산합니다.
df.pct_change(periods=2).head()

,col1,col2,col3,col4,co5,col6,col7,col8,col9,col10
row1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
row2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
row3,0.490909,-0.088889,-1.275862,-0.841463,8.666667,-1.725000,-0.649123,-0.727273,-1.228070,-1.949495
row4,-0.225806,0.108108,-2.068182,-0.619718,-0.266667,0.000000,1.580645,-0.823529,-2.512821,-2.923077
row5,-0.024390,0.085366,-7.125000,1.923077,-1.344828,-0.034483,1.150000,-4.000000,-0.461538,-0.670213

In [149]:
# periods=-1 인 경우 (현재행 - 다음행)÷다음행 입니다.
df.pct_change(periods=-1).head()

,col1,col2,col3,col4,co5,col6,col7,col8,col9,col10
row1,-0.408602,-2.216216,-1.659091,0.154930,-1.400000,-2.904762,0.838710,-2.294118,0.461538,-4.807692
row2,0.134146,-1.902439,4.500000,4.461538,-1.258621,-0.275862,0.550000,-3.833333,-4.000000,-0.723404
row3,0.138889,-2.000000,-1.170213,-0.518519,-6.272727,0.380952,-0.750000,-3.000000,-0.779661,-2.880000
row4,-0.100000,-1.921348,-0.040816,-0.289474,-0.450000,-0.250000,0.860465,-0.833333,7.428571,-2.612903
row5,-2.632653,-3.022727,-1.576471,4.428571,-2.052632,0.302326,-1.716667,-5.000000,-0.897059,4.166667

In [150]:
# fill_method인수는 결측치를 대체할 값을 지정할 수 있습니다.
# fill_method='ffill'인 경우는 기본값으로 바로 윗값으로 결측치를 대체합니다.
df.pct_change(fill_method='ffill').head()

,col1,col2,col3,col4,co5,col6,col7,col8,col9,col10
row1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
row2,0.690909,-1.822222,-2.517241,-0.134146,-3.500000,-1.525000,-0.456140,-1.772727,-0.315789,-1.262626
row3,-0.118280,-2.108108,-0.818182,-0.816901,-4.866667,0.380952,-0.354839,-1.352941,-1.333333,2.615385
row4,-0.121951,-2.000000,-6.875000,1.076923,-1.189655,-0.275862,3.000000,-1.500000,3.538462,-1.531915
row5,0.111111,-2.085366,0.042553,0.407407,0.818182,0.333333,-0.462500,5.000000,-0.881356,-1.620000

In [151]:
# fill_method='bfill'인 경우는 바로 아랫값으로 결측치를 대체합니다.
df.pct_change(fill_method='bfill').head()

,col1,col2,col3,col4,co5,col6,col7,col8,col9,col10
row1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
row2,0.690909,-1.822222,-2.517241,-0.134146,-3.500000,-1.525000,-0.456140,-1.772727,-0.315789,-1.262626
row3,-0.118280,-2.108108,-0.818182,-0.816901,-4.866667,0.380952,-0.354839,-1.352941,-1.333333,2.615385
row4,-0.121951,-2.000000,-6.875000,1.076923,-1.189655,-0.275862,3.000000,-1.500000,3.538462,-1.531915
row5,0.111111,-2.085366,0.042553,0.407407,0.818182,0.333333,-0.462500,5.000000,-0.881356,-1.620000

In [152]:
# limit인수는 결측치를 몇개까지 대체할지 지정합니다.
df.pct_change(limit=2).head()

,col1,col2,col3,col4,co5,col6,col7,col8,col9,col10
row1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
row2,0.690909,-1.822222,-2.517241,-0.134146,-3.500000,-1.525000,-0.456140,-1.772727,-0.315789,-1.262626
row3,-0.118280,-2.108108,-0.818182,-0.816901,-4.866667,0.380952,-0.354839,-1.352941,-1.333333,2.615385
row4,-0.121951,-2.000000,-6.875000,1.076923,-1.189655,-0.275862,3.000000,-1.500000,3.538462,-1.531915
row5,0.111111,-2.085366,0.042553,0.407407,0.818182,0.333333,-0.462500,5.000000,-0.881356,-1.620000

## 기간이동 계산 (rolling)

rolling 메서드는 현재 열에 대하여 일정 크기의 창(window)를 이용하여 그 window안의 값을 추가 메서드를 통해 계산하는 메서드 입니다.


**사용법**   

*   window : 계산할 창(window)의 크기 입니다. 열 기준으로 계산할 경우 행의 수입니다.
*   min_periods : 계산할 최소 크기(기간) 입니다. window 안의 값의 수가 min_periods의 값보다 작을경우 NaN을 출력합니다. 
기본적으로 window 크기와 동일합니다.
*   center : {True / False} 레이블을 window의 중간에 둘지 여부입니다. 기본값은 False로 레이블이 창 우측에 위치합니다.
*   win_type : {'triang' / 'gaussian' / ...} 가중치를 넣어 계산할 경우 계산 방식 입니다. 때에따라 연산 메서드에 추가 인수를 지정해야할수도 있습니다.
*   on : 시계열 인덱스나, 시계열과 유사한 열이 있을 경우 이 열을 기준으로 rolling을 수행할 수 있습니다.
*   axis : 계산의 기준이 될 축입니다.
*   closed : {'left' / 'right' / 'both' / 'neither'} window가 닫히는 방향입니다. 자세한건 아래 예시 참고바랍니다
*   method :{'single' / 'table'} numba 를 이용하여 테이블 계산을 진행하여 속도를 높힐지 여부입니다. 현재 'single'만 사용가능합니다.

In [153]:
df.rolling(window=3).sum().head()

       col1  col2  col3   col4   co5   col6   col7  col8  col9  col10
row1    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN   NaN    NaN
row2    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN   NaN    NaN
row3  230.0 -98.0 -23.0 -166.0 -49.0  -20.0 -108.0  44.0  83.0  -21.0
row4  247.0  74.0  -5.0 -111.0 -32.0 -142.0 -131.0 -56.0 -33.0  -70.0
row5  234.0 -89.0  88.0  -78.0 -27.0 -156.0 -143.0 -60.0 -79.0  -75.0

In [154]:
# closed는 계산의 닫는 위치를 지정합니다. 만약 6행을 기준으로 window=3을 계산한다고 하면 아래와 같은 범위로 window경계가 지정됩니다.
# left : 3 ≤ x < 6
# right : 3 < x ≤ 6
# both : 3 ≤ x ≤ 6
# neither : 3 < x < 6
df.rolling(window=3, closed='left').sum().head()

       col1  col2  col3   col4   co5   col6   col7  col8  col9  col10
row1    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN   NaN    NaN
row2    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN   NaN    NaN
row3    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN   NaN    NaN
row4  230.0 -98.0 -23.0 -166.0 -49.0  -20.0 -108.0  44.0  83.0  -21.0
row5  247.0  74.0  -5.0 -111.0 -32.0 -142.0 -131.0 -56.0 -33.0  -70.0

In [155]:
df.rolling(window=3, closed='right').sum().head()

       col1  col2  col3   col4   co5   col6   col7  col8  col9  col10
row1    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN   NaN    NaN
row2    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN   NaN    NaN
row3  230.0 -98.0 -23.0 -166.0 -49.0  -20.0 -108.0  44.0  83.0  -21.0
row4  247.0  74.0  -5.0 -111.0 -32.0 -142.0 -131.0 -56.0 -33.0  -70.0
row5  234.0 -89.0  88.0  -78.0 -27.0 -156.0 -143.0 -60.0 -79.0  -75.0

In [156]:
df.rolling(window=3, closed='both').sum().head()

       col1  col2  col3   col4   co5   col6   col7   col8  col9  col10
row1    NaN   NaN   NaN    NaN   NaN    NaN    NaN    NaN   NaN    NaN
row2    NaN   NaN   NaN    NaN   NaN    NaN    NaN    NaN   NaN    NaN
row3  230.0 -98.0 -23.0 -166.0 -49.0  -20.0 -108.0   44.0  83.0  -21.0
row4  302.0 -16.0  24.0 -193.0 -38.0  -62.0 -188.0   32.0  24.0   29.0
row5  327.0 -15.0  44.0 -149.0 -12.0 -198.0 -174.0 -128.0 -40.0 -101.0

In [157]:
#closed='neither'인 경우 min_period보다 window 크기가 작으므로 min_period를 지정해주어야합니다. 
df.rolling(window=3, closed='neither').sum().head()

      col1  col2  col3  col4  co5  col6  col7  col8  col9  col10
row1   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN    NaN
row2   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN    NaN
row3   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN    NaN
row4   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN    NaN
row5   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN    NaN

In [158]:
df.rolling(window=3, closed='neither',min_periods=2).sum().head()

       col1  col2  col3   col4   co5   col6   col7  col8  col9  col10
row1    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN   NaN    NaN
row2    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN   NaN    NaN
row3  148.0 -16.0 -15.0 -153.0   9.0   38.0  -88.0  20.0  96.0   73.0
row4  175.0  -8.0 -52.0  -84.0 -43.0 -100.0  -51.0 -44.0  26.0 -120.0
row5  154.0   0.0  39.0  -40.0 -47.0 -100.0 -100.0  12.0 -72.0  -44.0

center을 이용하여 레이블이 window의 중앙에 올지를 정할 수 있습니다.
<img src='https://wikidocs.net/images/page/152788/Screenshot_20220117-192702_Excel.jpg'>

In [159]:
df.rolling(window=3, center=True).sum().head()

       col1  col2  col3   col4   co5   col6   col7  col8   col9  col10
row1    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN    NaN    NaN
row2  230.0 -98.0 -23.0 -166.0 -49.0  -20.0 -108.0  44.0   83.0  -21.0
row3  247.0  74.0  -5.0 -111.0 -32.0 -142.0 -131.0 -56.0  -33.0  -70.0
row4  234.0 -89.0  88.0  -78.0 -27.0 -156.0 -143.0 -60.0  -79.0  -75.0
row5  103.0  37.0  11.0  -72.0  12.0 -141.0  -63.0 -66.0 -134.0   13.0

In [160]:
#win_type을 지정할 경우 가중치를 주며 계산을 할 수 있습니다.
df.rolling(window=3, win_type='triang').sum().head()

       col1  col2  col3   col4   co5   col6   col7  col8  col9  col10
row1    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN   NaN    NaN
row2    NaN   NaN   NaN    NaN   NaN    NaN    NaN   NaN   NaN    NaN
row3  161.5 -12.0 -33.5 -118.5 -17.0  -31.0  -69.5 -12.0  61.0  -23.5
row4  164.5  -4.0  -6.5  -62.0 -45.0 -100.0  -75.5 -16.0 -23.0  -82.0
row5  153.0  -3.5  67.5  -52.5  -8.0  -99.0 -111.5 -36.0 -69.0  -12.5

In [161]:
df.rolling(window=3, win_type='gaussian').sum(std=3).tail()

,col1,col2,col3,col4,co5,col6,col7,col8,col9,col10
row6,101.757068,30.190893,13.053540,-70.162622,12.432324,-136.406555,-61.919189,-66.324243,-127.136853,10.622217
row7,110.867150,-6.135852,-100.135352,2.459595,29.243933,-119.622717,61.891919,44.486865,-16.918189,45.081811
row8,50.215662,85.189892,-123.649487,39.486365,-28.595447,-61.892419,182.164123,151.081811,73.297473,87.837878
row9,100.704028,93.136352,-58.352514,-22.811108,15.595447,-78.298474,174.866150,206.272704,122.622217,17.513635
row10,12.783838,127.784839,55.622717,-26.485864,-72.055542,-17.539905,221.218664,117.838379,126.785839,-76.945959

## 그룹화 계산 (groupby)

In [167]:
df.groupby('col1').mean().head()

      col2  col3  col4   co5  col6  col7  col8  col9  col10
col1
-49   44.0 -85.0  -7.0 -19.0 -43.0  60.0  18.0 -68.0   -6.0
-4    70.0  58.0  48.0 -66.0  43.0  96.0   4.0  71.0  -10.0
 8     8.0  23.0  -2.0 -44.0   4.0  85.0  36.0  81.0    9.0
 9    54.0 -21.0 -70.0  32.0 -62.0  50.0  80.0 -17.0  -76.0
 55  -90.0  29.0 -82.0  -6.0  80.0 -57.0  88.0  57.0   99.0